<div class="GridLex-col-3_sm-4_xs-12 mb-30">
  <div class="package-grid-item">
    <a href="detail-page.html">
      <div class="image">
        <img src="assets/books/book1.png" alt="Tour Package" />
        <div class="absolute-in-image">
          <div class="duration"><span>デザイン</span></div>
        </div>
      </div>
      <div class="content clearfix">
        <h5>ランディングページメソッド・デザインメソッド</h5>
        <div class="rating-wrapper">
          <div class="raty-wrapper">
            <div class="star-rating-read-only" data-rating-score="4.0"></div> <span> / 7 review</span>
          </div>
        </div>
        <div class="absolute-in-content">
          <span class="btn"><i class="fa fa-heart-o"></i></span>
          <div class="price">$1422</div>
        </div>
      </div>
    </a>
  </div>
</div>
