<div class="GridLex-col-3_sm-4_xs-12 mb-30">
  <div class="package-grid-item">
      <div class="image">
        <%= link_to image_tag(book.content),book_path(book) %>
        <div class="absolute-in-image">
          <% book.category_list.each do |category_tag| %>
            <div class="duration" ><span><%= category_tag %></span></div>
          <% end %>
          <% if book.sold? == "y" %>
            <div class="sold_out_image" >
            <img src= "assets/soldout.png" >
            </div>
          <% end %>
        </div>

      </div>
      <div class="content clearfix">
        <h5><%= book.title %></h5>
        <div class="rating-wrapper">
          <div class="raty-wrapper">
            <div class="star-rating-read-only" data-rating-score="4.0"></div>
             <!-- <span> / 7 review</span> -->
          </div>
        </div>
        <div class="absolute-in-content">
          <span class="btn"><i class="fa fa-heart-o"></i></span>
          <div class="price">$<%= book.total_price %></div>
        </div>
      </div>
  </div>
</div>
