<div class="col-md-6 col-lg-4 pl-0 ml-0">
  <div class="package-list-item clearfix pl-15">
    <a href="#" class="package-list-item-link">
      <div class="image">
        <%= image_tag book.content %>
        <div class="absolute-in-image">
          </div>
        </div>
      </div>
        <div class="content">
          <div class="row gap-10">
            <div class="col-sm-12 col-md-12">
          <h5><%= book.title %></h5>
            <p class="line18">ランディングページの開発をするフロントエンドのエンジニアには必須の本になります。</p>
            </div>
          <div class="col-sm-12 col-md-12 text-left-sm">
            <div class="price">1000円</div>
            </div>
          </div>
        </div>
    </a>
  </div>
</div>
